.main-footer {
    background: #000000;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 20px 75px 5px !important;
    width: 100%;
}

.main-footer .active.footer-links-h1 {
    color: #FFFFFF !important;
    font-family: 'Bangers', cursive;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-footer a {
    color: #777777 !important;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.main-footer a:hover {
    color: #FFFFFF !important;
}

.main-footer .smo .item {
    float: left;
}

.main-footer .smo .item:first-child {
    width: 100%;
}

.main-footer .footer-smo {
    font-size: 35px !important;
    color: #777777 !important;
}

.main-footer .footer-smo:hover {
    color: #FFFFFF !important;
}

.main-footer .copyright {
    color: #777777;
    font-family: 'Bangers', cursive;
    font-size: 15px;
    font-weight: 700;
    text-indent: 10px;
}